.note-id {
    color: var(--text-faint);
}

.note-id-list-items {
    position: absolute;
    top: 0;
    width: 100%;
}

.note-id-list-items > div {
    left: 0;
    right: 0;
    overflow: hidden;
}
